---
pomoc: Сваки спрат је један број. Упаљена светла су јединице, а угашена нуле.
tema: noc
---

<div class="glavno-fleks">
  <section class="poruka-tekst">
    <h2>Ањина порука</h2>

    <p>Мала девојчица Ања се заиграла са лего коцкама и остала затворена у робној кући. Али није се уплашила! Сетила се да уз помоћ својих програмерских вештина може послати поруку који ће видети цео град.</p>

    <p>"Надам се да међу свим тим људима има неко ко зна бинарне бројеве", помислила је.</p>

    <p>Ања је прво превела слова у бројеве, а затим на сваком спрату упалила и угасила одређена светла, тако да представљају бинарни број.</p>

    <p><b>Знаш ли ти бинарне бројеве? Можеш ли разумети Ањину поруку?</b></p>

    <p>Ако успеш да прочиташ бројеве, ова таблица ће ти помоћи у да их преведеш у слова:</p>

  <pre>
  А  Б  В  Г  Д  Ђ  Е  Ж  З  И  Ј  К  Л  Љ  М  Н  Њ  О  П  Р  С  Т  Ћ  У  Ф  Х  Ц  Ч  Џ  Ш
  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
  </pre>

    <p>Упиши Ањину поруку:</p>

    <input type="text" id="unos">
    {% include dugme.html %}
  </section>

  {% include zgrada.html %}
</div>

<script src="js/poruka.js"></script>
