uvoj {
  display: block;
}

uvoj,
.uvoj {
  padding: 0 2%;
}

@media (min-width: 1200px) {
  uvoj,
  .uvoj {
    padding: 0 8%;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}

.bez-ukrasa {
  color: inherit;
  text-decoration: none;
}
