.noc {
  background: #2a0541;
  color: #62f620;
}

.noc a {
  color: #f0f012;
}

.noc sunce {
  background: #f5f4f3;
}

.noc deo-oblaka {
  background: #190c84;
}

.noc trava {
  background: #165c46;
}
