<header>
  <oblak>
    <deo-oblaka></deo-oblaka>
    <deo-oblaka>
      <a href="index" class="bez-ukrasa"><h1>Програмирање без струје</h1></a>
      <div class="flex">
        <a href="index">Почетна</a>
        <a href="http://skolakoda.org/kursevi/prijava?kurs=6">Желим да упишем дете</a>
        <a href="http://skolakoda.org/kontakt">Контакт</a>
      </div>
    </deo-oblaka>
    <deo-oblaka>
      <h2>7+</h2>
    </deo-oblaka>
  </oblak>

  <okvir-sunca>
    <sunce></sunce>
  </okvir-sunca>
</header>
