<header>
  <oblak>
    <deo-oblaka></deo-oblaka>
    <deo-oblaka>
      <a href="index" class="bez-ukrasa"><h1>Programiranje za decu</h1></a>
      <div class="flex">
        <a href="index">Početna</a>
        <a href="http://skolakoda.org/kursevi/prijava">Želim da upišem dete</a>
        <a href="http://skolakoda.org/kontakt">Kontakt</a>
      </div>
    </deo-oblaka>
    <deo-oblaka>
      <h2>7+</h2>
    </deo-oblaka>
  </oblak>

  <okvir-sunca>
    <sunce></sunce>
  </okvir-sunca>
</header>
