<zgrada>
  <sprat>
    <prozor class="svetlo"></prozor>
    <prozor class="svetlo"></prozor>
    <prozor></prozor>
    <prozor></prozor>
    <prozor></prozor>
  </sprat>
  <sprat>
    <prozor class="svetlo"></prozor>
    <prozor></prozor>
    <prozor></prozor>
    <prozor class="svetlo"></prozor>
    <prozor class="svetlo"></prozor>
  </sprat>
  <sprat>
    <prozor class="svetlo"></prozor>
    <prozor></prozor>
    <prozor></prozor>
    <prozor class="svetlo"></prozor>
    <prozor></prozor>
  </sprat>
  <sprat>
    <prozor></prozor>
    <prozor class="svetlo"></prozor>
    <prozor class="svetlo"></prozor>
    <prozor class="svetlo"></prozor>
    <prozor class="svetlo"></prozor>
  </sprat>
  <sprat>
    <prozor class="svetlo"></prozor>
    <prozor></prozor>
    <prozor></prozor>
    <prozor class="svetlo"></prozor>
    <prozor></prozor>
  </sprat>
  <sprat>
    <prozor class="svetlo"></prozor>
    <prozor></prozor>
    <prozor class="svetlo"></prozor>
    <prozor class="svetlo"></prozor>
    <prozor class="svetlo"></prozor>
  </sprat>
  <sprat>
    <prozor></prozor>
    <prozor></prozor>
    <prozor></prozor>
    <prozor></prozor>
    <prozor></prozor>
  </sprat>
  <sprat>
    <prozor class="svetlo"></prozor>
    <prozor></prozor>
    <prozor class="svetlo"></prozor>
    <prozor></prozor>
    <prozor></prozor>
  </sprat>
  <sprat>
    <prozor></prozor>
    <prozor></prozor>
    <prozor></prozor>
    <prozor class="svetlo"></prozor>
    <prozor class="svetlo"></prozor>
  </sprat>
  <sprat>
    <prozor></prozor>
    <prozor></prozor>
    <prozor class="svetlo"></prozor>
    <prozor></prozor>
    <prozor class="svetlo"></prozor>
  </sprat>
  <sprat>
    <prozor></prozor>
    <prozor></prozor>
    <prozor class="svetlo"></prozor>
    <prozor class="svetlo"></prozor>
    <prozor class="svetlo"></prozor>
  </sprat>
  <sprat>
    <prozor></prozor>
    <prozor></prozor>
    <prozor></prozor>
    <prozor></prozor>
    <prozor></prozor>
  </sprat>
  <sprat>
    <prozor class="svetlo"></prozor>
    <prozor></prozor>
    <prozor class="svetlo"></prozor>
    <prozor></prozor>
    <prozor class="svetlo"></prozor>
  </sprat>
  <sprat>
    <prozor class="svetlo"></prozor>
    <prozor></prozor>
    <prozor></prozor>
    <prozor></prozor>
    <prozor></prozor>
  </sprat>
  <sprat>
    <prozor></prozor>
    <prozor class="svetlo"></prozor>
    <prozor class="svetlo"></prozor>
    <prozor class="svetlo"></prozor>
    <prozor class="svetlo"></prozor>
  </sprat>
</zgrada>
