karte {
  display: flex;
  justify-content: space-between;
}

karta {
  align-items: center;
  background: #ccc;
  border-radius: 20px;
  border: 1px solid black;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  height: 280px;
  justify-content: space-around;
  width: 200px;
}

kruzic {
  margin: 25px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

input:checked ~ karta {
  background: white;
}

input:checked ~ karta kruzic {
  background: black;
}

jedan,
nula {
  font-size: 100px;
  display: block;
}

jedan {
  display: none;
}

input:checked ~ jedan {
  display: block;
}

input:checked ~ nula {
  display: none;
}

@media (max-width: 1199px) {
  karta {
    width: 100px;
    min-width: 100px;
    height: 150px;
  }
  kruzic {
    margin: 6px;
    height: 10px;
    width: 10px;
  }
}

@media (min-width: 1200px) {
  karte {
    flex-wrap: wrap;
  }
  .sesnaestica kruzic {
    margin: 15px;
  }
}
