.glavno-fleks {
  margin-bottom: -40px;
}
@media (min-width: 1200px) {
  .glavno-fleks {
    display: flex;
  }
}

.poruka-tekst {
  margin-right: 15px;
}

zgrada {
  background: #3f3f3f;
  display: block;
  padding: 20px 0;
  width:500px;
}

sprat {
  display: flex;
  justify-content: space-around;
  margin: 20px 10px;
}

prozor {
  background: black;
  display: block;
  height: 100px;
  width: 15%;
}

.svetlo {
  background: #f0f012;
}
